{% extends 'base.html' %}

{% block content %}

    <div class="row">
        {% for post in final_postings %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <a href="{{ post.post_url }}"><img src="{{ post.post_image }}"></a>
                    </div>
                    <div class="text-container">
                        <div class="card-content">
                            {{ post.post_title }}
                        </div>
                        <div class="card_action">
                            <a href="{{ post.post_url }}">View listing: Price {{ post.post_price }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}